In [1]:
import pandas as pd

In [2]:
df_boston_data = pd.read_csv('BostonHousing.csv',sep=',',header=None)

In [3]:
df_boston_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0.538,6.575,65.2,4.09,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33.4

In [4]:
df_toyota_data = pd.read_csv('ToyotaCorolla.csv',sep=',',header=None)

In [5]:
df_toyota_data.head()

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
1,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
2,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
3,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
4,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0

In [6]:
df_boston_data = df_boston_data.rename(columns=df_boston_data.iloc[0])

In [7]:
df_boston_data = df_boston_data.drop(df_boston_data.index[0])

In [8]:
df_boston_data.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0.538,6.575,65.2,4.09,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0.469,6.421,78.9,4.9671,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0.469,7.185,61.1,4.9671,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0.458,6.998,45.8,6.0622,222,18.7,394.63,2.94,33.4
5,0.06905,0,2.18,0.458,7.147,54.2,6.0622,222,18.7,396.9,5.33,36.2

In [9]:
df_toyota_data = df_toyota_data.rename(columns=df_toyota_data.iloc[0])
df_toyota_data = df_toyota_data.drop(df_toyota_data.index[0])
df_toyota_data.head()

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Central_Lock,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Tow_Bar
1,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,1,0,0,0,1,0,0,0
2,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,1,0,1,0,0,0,1,0,0,0
3,3,?TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,0,1,0,0,0,1,0,0,0
4,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,0,1,0,0,0,1,0,0,0
5,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,1,0,1,0,1,0,0,0

In [10]:
import numpy as np

In [11]:
test_matrix = [[1,2,3,4],[1,2,5,8]]
np.array(test_matrix).reshape(8,)

array([1, 2, 3, 4, 1, 2, 5, 8])

In [12]:
np.array(test_matrix).reshape(2,2,2)

array([[[1, 2],
        [3, 4]],

       [[1, 2],
        [5, 8]]])

In [13]:
np.array(test_matrix).flatten()

array([1, 2, 3, 4, 1, 2, 5, 8])

In [14]:
test_matrix[1][2]

5

In [15]:
test_matrix

[[1, 2, 3, 4], [1, 2, 5, 8]]

In [16]:
np.random.uniform(0,1,10).reshape(2,5)

array([[0.67498581, 0.34174116, 0.04273005, 0.01809738, 0.28986205],
       [0.1524616 , 0.07037121, 0.58581769, 0.0794197 , 0.54862935]])

In [17]:
test_array = np.arange(1,13).reshape(3,4)

In [18]:
test_array.sum(axis=1) , test_array.sum(axis=0)

(array([10, 26, 42]), array([15, 18, 21, 24]))

In [19]:
test_array

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [20]:
test_array.sum(axis=1).T

array([10, 26, 42])

In [21]:
print(test_array.sum(axis=1))

[10 26 42]

In [22]:
a = np.array([1,2,3])
b = np.array([2,3,4])

In [23]:
np.vstack((a,b))

array([[1, 2, 3],
       [2, 3, 4]])

In [24]:
np.hstack((a,b))

array([1, 2, 3, 2, 3, 4])

In [25]:
a = np.array([1,2,4,5,8,78,23,31])
np.argmax(a), np.argmin(a)

(5, 0)