In [3]:
import numpy as np
import pandas as pd

In [18]:
def get_frequent_matrix(filename,dtype=np.float32) : 
    data = pd.read_csv(filename)
    data['rating']=1
    return data.groupby(['source','target'])['rating'].sum().unstack().fillna(0)

In [9]:
def get_rating_matrix(filename, dtype=np.float32):
    data = pd.read_csv(filename)
    return data.groupby(['source','target'])['rating'].first().unstack().fillna(0)

In [8]:
df_data.head()

          source              target  rating
0  Jack Matthews   Lady in the Water     3.0
1  Jack Matthews   Snakes on a Plane     4.0
2  Jack Matthews   You Me and Dupree     3.5
3  Jack Matthews    Superman Returns     5.0
4  Jack Matthews  The Night Listener     3.0

In [10]:
kk = get_rating_matrix('movie_rating.csv')

In [13]:
kk.head()

target,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
source,,,,,,
Claudia Puig,3.0,0.0,3.5,0.0,4.5,0.0
Gene Seymour,0.0,3.0,3.5,0.0,3.0,3.5
Jack Matthews,0.0,3.0,4.0,5.0,3.0,3.5
Lisa Rose,3.0,2.5,3.5,3.5,3.0,2.5
Mick LaSalle,2.0,3.0,4.0,3.0,3.0,0.0

In [19]:
gg = get_frequent_matrix('movie_rating.csv')

In [21]:
gg.head()

target,Just My Luck,Lady in the Water,Snakes on a Plane,Superman Returns,The Night Listener,You Me and Dupree
source,,,,,,
Claudia Puig,1.0,0.0,1.0,0.0,1.0,0.0
Gene Seymour,0.0,1.0,1.0,0.0,1.0,1.0
Jack Matthews,0.0,1.0,1.0,1.0,1.0,1.0
Lisa Rose,1.0,1.0,1.0,1.0,1.0,1.0
Mick LaSalle,1.0,1.0,1.0,1.0,1.0,0.0